@import 'config';
@import 'header';
@import 'content';
@import 'mobile';





html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background: $bg-light;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
        
    width: 90%;
    margin: auto;
    position: relative;
    padding: auto;
    text-align: center;
}